<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epic.score_app.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_schild"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.epic.score_app.viewlayer.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.SpelerActivity"
            android:icon="@drawable/speler"
            android:label="@string/title_activity_speler"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.TeamActivity"
            android:icon="@drawable/team"
            android:label="@string/title_activity_team"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.PouleActivity"
            android:icon="@drawable/poule"
            android:label="@string/title_activity_poule"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.SettingsActivity"
            android:icon="@drawable/instellingen"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.NieuwsActivity"
            android:icon="@drawable/nieuws"
            android:label="@string/title_activity_nieuws"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.WedstrijdenActivity"
            android:icon="@drawable/wedstrijd"
            android:label="@string/title_activity_wedstrijden"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.view.TempViewPlayers"
            android:label="@string/title_activity_temp_view_players"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.PouleDetailActivity"
            android:label="Poule Info"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.epic.score_app.view.services.NotificationProvider"
            android:icon="@drawable/abc_ic_go"
            android:label="serviceprovider" >
        </service>

        <activity
            android:name="com.epic.score_app.viewlayer.ViewPlayer"
            android:label="@string/title_activity_view_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.MediaActivity"
            android:icon="@drawable/media"
            android:label="@string/title_activity_media"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.StadiumActivity"
            android:label="@string/title_activity_stadium"
            android:parentActivityName="com.epic.score_app.viewlayer.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.epic.score_app.viewlayer.MainActivity" />
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.ViewTeam"
            android:label="@string/title_activity_view_team"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.NewsDescription"
            android:label="@string/title_activity_news_description" >
        </activity>
        <activity
            android:name="com.epic.score_app.view.WallOfActivity"
            android:label="@string/title_activity_wall_of" >
        </activity>
        <activity
            android:name="com.epic.score_app.viewlayer.ViewMatch"
            android:label="@string/title_activity_view_match" >
        </activity>
    </application>

</manifest>
